@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border: none;  */
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

section {
  padding: 10px;
}

/* Added style */
/* 
div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

img {
  border-radius: 30px;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
} */